<fieldset>
    <legend>{{localize "SIMPLE_COVER_5E.Settings.HeightsMenu.Legend"}}</legend>
    {{#each sizes as |s|}}
    <div class="form-group">
        <label>
            {{s.label}} ({{../gridUnits}})
        </label>
        <input type="number" name="{{s.key}}" value="{{s.value}}" min="0" step="0.5" placeholder="{{s.default}}" />
    </div>
    {{/each}}
    <p class="hint">
        {{localize "SIMPLE_COVER_5E.Settings.HeightsMenu.BodyHint"}}
    </p>
</fieldset>