<fieldset data-simplecover5e="dialog-notes">
  <legend>{{localize "SIMPLE_COVER_5E.Dialog.Legend"}}</legend>

  {{#each notes}}
  <div class="form-group">
    <label>
      {{this.label}}
    </label>

    {{#if this.cover}}
    <div class="form-fields">
      <select name="simplecover5e.{{this.target}}.cover"  data-action="change-note-label">
        {{selectOptions ../coverChoices selected=this.cover}}
      </select>
    </div>
    {{/if}}

    <p class="hint">
      {{#if this.icon}}
      <i class="{{this.icon}}" title="{{this.label}}"></i>
      {{/if}}
      {{{this.hint}}}
    </p>
  </div>
  {{/each}}
</fieldset>